* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  width: 100%;
  margin: 0 auto;
  background: rgb(187, 255, 0);
}

.all__news {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 80%;
}

.news {
  max-width: 500px;
  padding: 30px;
  border: 5px solid purple;
  border-radius: 15px;
  font-weight: 800;
  background-color: lightgreen;
}

.news__title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 40px;
  color: purple;
  font-weight: bold;
}

.head__text {
  color: yellow;
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 20px;
  padding-bottom: 10px;
}

.news__author {
  margin-right: 10px;
  color: purple;
}

.news__published {
  margin-right: 10px;
}

.news__source,
.news__published {
  display: inline-block;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.63);
}
